body{
	background-color: lightblue;
	text-align: center;
}

img{
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 250px;
	border-radius: 50%;
}

.box1{
	margin-left: 30px;
	margin-top: 30px;
	width: 400px;
	border: solid #b87df0;
	border-radius: 15px;
	background-color: #b87df0;
	padding: 10px;
	display: inline-block;
}

.box2{
	margin-left: 30px;
	margin-top: 30px;
	width: 400px;
	border: solid #b87df0;
	border-radius: 15px;
	background-color: #b87df0;
	padding: 10px;
	display: inline-block;
}


.top_box{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	border-radius: 15px;
	align-items: center;
	border: solid #b87df0;
	background-color: #b87df0;
	height: 100px;
}
.top_heading{
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	color: navy;
}

.heading1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: navy;
	text-align: center;
}
.heading2{
	font-family: Georgia, 'Times New Roman', Times, serif ;
	color: navy;
	text-align: center;
}

.text1{
	font-family: 'Times New Roman', Times, serif;
	color: black;
	font-size: 20px;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
}

.text2{
	font-family: 'Times New Roman', Times, serif;
	color: black;
	font-size: 20px;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	
}


.last_text{
	font-family: 'Times New Roman', Times, serif;
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

a:link{
	color: navy;
}

a:hover{
	color:blueviolet;
}
	
